{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> 批量删除 </button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> 添加 </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">新增网址</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form, form_type="horizontal") }} </div>
          </div>
      </div> <!-- modal body -->

    </div> </div>
</div>



<table class="table table-hover">
    <thead>
         <th ><input type="checkbox"></th>
        <th class="active">序号</th>
        <th class="active">网址</th>
        <th class="active">网站名称</th>
        <th class="active">添加时间</th>
        <th class="active">爬虫状态</th>
        <th class="active">操作</th>
    </thead>
    <tbody>
        {% for webinfo in webinfos %}

            <!-- tr -->
            {% if webinfo %} <tr class="success">
            {% else %} <tr class="info"> {% endif %}
                <td><input type="checkbox"></td>
                <td>{{ loop.index }}</td>
                <td>{{ webinfo.url }}</td>
                <td>{{ webinfo.web_name }}</td>
                <td>{{ webinfo.add_time }}</td>
                <td>{{ webinfo.status }}</td>
                <td><button type="button" class="ant-btn look"><span>删 除</span></button></td>
            </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}