{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from '_macros.html' import show_pagination %}
{% block page_content %}

<div class="row">
    <div class='col-sm-3'>
        <div class="form-group">
            <label>选择开始时间：</label>
            <!--指定 date标记-->
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-3'>
        <div class="form-group">
            <label>选择结束时间：</label>
            <!--指定 date标记-->
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" > 批量删除 </button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> 创建任务 </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">新增任务</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class="col-md-8 col-md-offset-2"> <form method="POST" action="">
                  <a class="button" href="{{ url_for('show_todo_list') }}">未启动网站</a>
              </form>
              </div>
          </div>
      </div> <!-- modal body -->

    </div> </div>
</div>


<table class="table table-hover">
    <thead>
        <th ><input type="checkbox" id="selectAll" name="selectAllBtn"></th>
        <th class="active">序号</th>
        <th class="active">爬虫任务名</th>
        <th class="active">创建时间</th>
        <th class="active">爬虫状态</th>
        <th class="active">添加者</th>
        <th class="active">配置信息</th>
        <th class="active">操作</th>
    </thead>
    <tbody>
        {% for task in tasks %}

            <!-- tr -->
            {% if task %} <tr class="success">
            {% else %} <tr class="info"> {% endif %}
                <td><input type="checkbox" name="checkboxBtn" value="{{ task.id }}"></td>
                <td>{{ loop.index }}</td>
                <td>{{ task.task_name }}</td>
                <td>{{ task.create_time }}</td>
                <td> {{ task.status }} </td>>
                <td> {{ task.creater }} </td>
                <td><a href="">详情</a></td>
                <td><a class='fa fa-lg fa-warning text-red' data-toggle="modal" data-target="#confirm-delete{{ task.id }}">删除</a></td>

                <div class="modal fade" id="confirm-delete{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                请确认
                            </div>
                            <div class="modal-body">
                                确认删除 {{ task.task_name }} 吗？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <form action="" method="POST">
                                <a class="btn btn-danger btn-ok" href="{{ url_for('delete_task', id=task.id) }}">确认</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

        {% endfor %}
    </tbody>
</table>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
  /*
  *统一设置所有条目的
  */
  function setItemCheckBox(flag) {
    $(":checkbox[name=checkboxBtn]").prop("checked",flag);
  }
  $(function () {
    //点击全选
    $("#selectAll").click(function(){
      //1.获取全选的状态
      var flag = this.checked;//获取全选的状态
      if(flag){
        $(this).prop("checked", true);
      }else{
        $(this).prop("checked", false);
      }
      //var flag = $(":checkbox[name=selectAll]").attr("checked");//jquery-1.5.1的用法
      //2.让所有条目的复选框与全选的状态同步
      //alert(flag);
      setItemCheckBox(flag);
    });
    //给所有复选框添加事件
    $(":checkbox[name=checkboxBtn]").click(function(){
      var flagV = this.checked;
      if(flagV){
        $(this).prop("checked", true);
      }else{
        $(this).prop("checked", false);
      }
      //获取所有复选框的个数
      var len = $(":checkbox[name=checkboxBtn]").length;
      //获取所有被选中的复选框的个数
      var checked_len = $(":checkbox[name=checkboxBtn]:checked").length;
      if(len == checked_len){
        //alert("全选中了");
        $("#selectAll").prop("checked",true);
      } else if(checked_len == 0) {
        $("#selectAll").prop("checked",false);
      } else {
        $("#selectAll").prop("checked",false);
      }
    });
  });
</script>

{{ show_pagination(pagination) }}
{% endblock %}